<div class="jumbotron">
  <div class="container">
   <div class="well well-lg">
    <div class="mainWords">
     <h1>Welcome to the team.</h1>
     <h2>We're not exactly sure what the team is or what it does, but you're certainly welcome.</h2>
    </div>
    </div>
    <p class="jumbotron-text">Here you can plan things and stuff in ways that are already being used by dozens of better websites, but since you're already here you might as well use this one.</p>
    <p> <button class= "loginButton"><%= button_to "Sign in", new_user_session_path, class: "btn btn-primary jumbotron-button" %></button> <button class="loginButton"><%= button_to "Join the team", new_user_registration_path, method: :get, class: "btn btn-primary jumbotron-button" %></button>
     
    <% if signed_in? %>
        
            <button class="loginButton"><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary jumbotron-button" %></button>
        
    <% end %>
    </p>
  </div>
</div>

<div class="container">
    
</div>