/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-tablesorter/theme.bootstrap
 */

.jumbotron{
	background-color: gray;
}

.jumbotron-text{
  border-color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 27px;
  line-height: 30px;
  color: black;

}

.well-lg{
  background-color: SlateGray;
  border-color: black;
  border-width: 10px;
}

.well-sm{
  background-color: DimGray;
  border-color: black;
}

.mainWords{
  border-width: 12px;
  border-color: black;
  color: Navy;
}

.loginButton{
  padding: 0px 0px;
  background-color: gray;
  border-color:gray;
}
.jumbotron-button{
  padding: 12px 25px;
  font-size: 20px;
  color: white;
  background-color: black;
  border-color: white;
  width: 180px;
}

/*.navbar{
  margin-bottom: 0px;
}
*/
.container{
	
	background-color: gray;
  border-color: black;
}

