.jumbotron{
	background-color: gray;
}

.jumbotron-text{
  border-color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 27px;
  line-height: 30px;
  color: black;

}

.well-lg{
  background-color: SlateGray;
  border-color: black;
  border-width: 10px;
}

.well-sm{
  background-color: DimGray;
  border-color: black;
}

.mainWords{
  border-width: 12px;
  border-color: black;
  color: Navy;
}

.loginButton{
  padding: 0px 0px;
  background-color: gray;
  border-color:gray;
}
.jumbotron-button{
  padding: 12px 25px;
  font-size: 20px;
  color: white;
  background-color: black;
  border-color: white;
  width: 180px;
}

/*.navbar{
  margin-bottom: 0px;
}
*/
.container{
	
	background-color: gray;
  border-color: black;
}

